# Server
PORT=3000
CORS_ORIGIN=http://localhost:5173

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ambient_motion?schema=public

# JWT
JWT_SECRET=your-secret-key-change-this

# Sufy S3 Storage
SUFY_ACCESS_KEY=ZFWSQNeomn6ecno20X6-ciHShe5LjmQljfHzYyJ-
SUFY_SECRET_KEY=FwALN2YuGzUat81o_gmUML0i57KBqT99dOIKWr3H
SUFY_BUCKET_NAME=ambient-motion
SUFY_ORIGIN_DOMAIN=mos.us-south-1.sufybkt.com
SUFY_CDN_DOMAIN=idoxf6y.sufydely.com
SUFY_URL_SIGNING_KEY=gu9HM_l_qg1l-qNczmZog4GonMTDxP6mNe7OL7si
